.series-page {
    display: flex;
    justify-content: center;
    padding: 50px;
    background: #fafafa;
}

.series-container {
    position: relative;

    width: min(1100px,95%);

    background: white;

    border-radius: 18px;

    padding: 72px 56px 56px;

    display: flex;

    gap: 45px;

    box-shadow: 0 8px 25px rgba(0,0,0,.08);
}

.series-left {
    width: 240px;
}

.series-cover {
    width: 220px;
    height: 320px;
    object-fit: cover;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,.25);
}

.series-right {
    flex: 1;
}

.series-right h1 {
    font-size: 2.3rem;
    margin-bottom: 12px;
}

.series-books {
    margin-top: 40px;
}

.series-books h3 {
    margin-bottom: 18px;
}

.series-book-card {
    display: flex;
    align-items: center;
    gap: 18px;

    padding: 16px;

    border: 1px solid #ececec;
    border-radius: 14px;

    margin-bottom: 16px;

    cursor: pointer;

    transition: .2s;
}

.series-book-card:hover {
    background: #f8f8f8;
    transform: translateY(-2px);
}

.series-book-card img {
    width: 60px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
}

.series-book-card div {
    flex: 1;
}

.series-book-card h4 {
    margin-bottom: 6px;
}

.series-book-card p {
    color: #777;
    font-size: .9rem;
}

.series-book-card span {
    font-size: 1.5rem;
    color: #999;
}
.author:hover{
    cursor: pointer;
    color: #6d28d9;
}