PORT=5001
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://aroraananya:Vx1KjNCx3l4YjxrP@bookstore.j3sbtk1.mongodb.net/?appName=bookstore
JWT_SECRET=replace_me


TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_API_KEY=xyz

OPENAI_API_KEY=replace_me
OPENAI_MODEL=gpt-4o-mini

# Razorpay
RAZORPAY_KEY_ID=replace_me
RAZORPAY_KEY_SECRET=replace_me
RAZORPAY_WEBHOOK_SECRET=replace_me
